*, *::before, *::after {
  box-sizing: border-box;
 }
  
 img,svg,video,canvas,audio,iframe,embed,object {
  display: block;
  max-width: 100%;
 }
  
 input, button, textarea, select {
  font: inherit;
 }
  
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
 }

 
 .dropdown {
  position: relative;
  display: inline-block;
}

button.btn-dropdown {
  background-color: #f1f1f1;
  color: #333;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f1f1f1;
  padding: 10px;
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.dropdown-menu li {
  padding: 5px;
  width: 150px;
}

.dropdown-menu li:hover {
  background-color: #ccc;
}
